spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ftc_customer_db
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQL95Dialect
