<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body style="background-image: url(/images/Header-Transportation.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<main>
        <div class="container-fluid" style="margin-bottom: 400px">
            <div class="row justify-content-center">
                <div class="col-4 py-3 bg-light my-1 mt-4 text-center">
                    <a class="btn btn-info" th:href="@{/user}">Your profile</a>
                </div>
            </div>
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-4 py-3 bg-light my-1 text-center">-->
<!--                    <a class="btn btn-info" href="#">Make order</a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row justify-content-center">
                <div class="col-4 py-3 bg-light my-1 text-center">
                    <a class="btn btn-info " th:href="@{/registration}">Registration</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>