<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row mt-4 justify-content-center">
            <div class="col-4 pt-3 pb-5 bg-light">
                <h2 class="text-dark">Create your own profile</h2>
            </div>
        </div>
        <div class="row justify-content-center">
                <form th:action="@{/registration}" class="col-4 bg-light pb-3" th:object="${user}" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" th:field="*{username}" placeholder="username">
                        <label style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">errors</label>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" th:field="*{password}" placeholder="yourpassword">
                        <label style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">errors</label>
                    </div>
                    <div class="form-group">
                        <label>Re-enter password</label>
                        <input type="password" class="form-control" name="password-rep" placeholder="yourpassword">
                        <label style="color: red" th:if="${difPasswordMessage} != null" th:text="${difPasswordMessage}">error</label>
                    </div>
                    <button type="submit" class="btn btn-info">Create profile</button>
                 </form>
        </div>
    </div>
</main>
</body>
</html>